@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, Optima, sans-serif;
}
.homePage {
	background: #EBC17F;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #EB8D7F;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #EBA07F;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EBDACD;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #EBAF7F;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
