@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #CCF0E9;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #9BB7FA;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #AFDD4A;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #D4F74A;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #C3FAEB;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
